# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/template/node_modules
/template/.pnp
.pnp.js

# testing
/template/coverage

# next.js
/template/.next/
/template/out/

# production
/template/build

# misc
.DS_Store
*.pem

# generated
template/src/translations/*.json

# Env
.env.local.json
.env.local.jsonc
